html{
    background-color: #faf4ed;
}

.betterbg{
    background-color: #f2e9de;
}

.cadettext{
    color: #31748F;
    font-family: monsterrat,sans-serif
}

.buttonbasics{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: monsterrat,sans-serif
}

.placeholdertext{
    color: #74716e;
    font-family: 'Courier New', Courier, monospace;
}

.buttonc1{
    background-color: cadetblue;
}

.buttonc2{
    background-color: #6F6A87;
}

.buttonc3{
    background-color: #D9827C;
}
