html{
    background-color: #F9F3EC;
}

.cadettext{
    color: #31748F;
}

.buttontext{
    color: #FFFFFF;
}

.placeholdertext{
    color: #74716e;
}

.buttonc1{
    background-color: cadetblue;
}

.buttonc2{
    background-color: #6F6A87;
}

.buttonc3{
    background-color: #D9827C;
}