html{
    background-color: #faf4ed;
}

.bodyflex{
    display: flex;
    flex-direction: row;
}

.Notesflex{
    padding: 1em;
    max-height: none;
    flex-shrink: 0;
    align-self: stretch;
}

.betterbg{
    background-color: #f2e9de;
    display: flex;
    flex-direction: column;
    max-height: none;
    padding: 1em;
    align-self: stretch;
    flex-shrink: 1;
    min-width: 180vh;
    min-height: 100vh
}

.cadettext{
    color: #31748F;
    font-family: monsterrat,sans-serif
}

.centerchild{
    align-self: center;
}

.centeradult{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.endchild{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.paddingchild{
    padding-right: 1em;
}

.spacebetweenchild{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonbasics{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: monsterrat,sans-serif
}

.placeholdertext{
    color: #74716e;
    font-family: 'Courier New', Courier, monospace;
}

.buttonc1{
    background-color: cadetblue;
}

.buttonc2{
    background-color: #6F6A87;
}

.buttonc3{
    background-color: #D9827C;
}
